# [ DataFrame 살펴보기 ]
* 데이터를 테이블 즉, 표 형태로 저장하는 자료구조
* 구성 : 행 + 열
* 생성 : pandas.DataFrame() 생성자 메서드

(1) 모듈로딩 ------------------------------------------------

In [61]:
from pandas import DataFrame

(2) 데이터 준비 ------------------------------------------

In [62]:
data = [ [11,22,33], [44,55,66],[77,88,99] ]

(3) DataFrame으로 저장 즉, DataFrame 객체 생성 ----------------

In [63]:
df1 = DataFrame(data)
df1

    0   1   2
0  11  22  33
1  44  55  66
2  77  88  99

(4) DataFrame의 속성 읽기 => 객체변수명.속성명 --------------------------------

In [64]:
df1.index     # 행 갯수

RangeIndex(start=0, stop=3, step=1)

In [65]:
df1.columns     # 열 갯수

RangeIndex(start=0, stop=3, step=1)

In [66]:
df1.values

array([[11, 22, 33],
       [44, 55, 66],
       [77, 88, 99]], dtype=int64)

In [67]:
# 데이터가 저장된 표의 형태
df1.shape       ## (행 수, 열 수)

(3, 3)

In [68]:
# 데이터의 차원 정보 n-dimention
df1.ndim

2

In [69]:
# 컬럼별 데이터 타입 
df1.dtypes

0    int64
1    int64
2    int64
dtype: object

(5) 원소 읽기 ==> 행과 열 지정 ==> 1개 원소 -------------------------------------------

- 컬럼 즉 열 (column) 읽기 ==> 객체변수명[인덱스]

In [70]:
df1[0]    # df1[-1]은 안됨    ## type : serise

0    11
1    44
2    77
Name: 0, dtype: int64

In [71]:
df1[2]

0    33
1    66
2    99
Name: 2, dtype: int64

In [72]:
## 컬럼 변경 =========================================================
# 컬럼명 변경 ==> 객체변수명.columns = 새로운 컬럼명
df1.columns = ['A','B','C']     ## 원래 존재했던 위치 레이블 사용 불가
df1

    A   B   C
0  11  22  33
1  44  55  66
2  77  88  99

In [73]:
df1['A']                     ##df1.A 도 가능(문자일 때만 가능)

0    11
1    44
2    77
Name: A, dtype: int64

In [74]:
# 컬럼 레이블 설정 후 정수 인덱싱 불가
# df1.0

- 로우 즉 행 (row) 읽기 ==> 방법 2가지
     * 위치 인덱스로 읽기 : 객체변수명.iloc[인덱스]
     * 레이블 인덱스로 읽기 : 객체변수명.loc[인덱스]

In [75]:
df1.index = ['one','two','three']

In [76]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [77]:
one = df1.loc['one']
type(one)             ## type : series

pandas.core.series.Series

In [78]:
df1.iloc[0]

A    11
B    22
C    33
Name: one, dtype: int64

(6) 모든 원소를 한번에 한개씩만 출력

In [79]:
df1

        A   B   C
one    11  22  33
two    44  55  66
three  77  88  99

In [80]:
for r in df1.index:
    for c in df1.columns:
        print(df1.loc[r][c])

11
22
33
44
55
66
77
88
99

- 객체변수명.iloc[행 인덱스, 열 인덱스] / 객체변수명.loc[행 레이블, 열 인덱스 or 열 레이블]

In [81]:
df1.iloc[0,0]

11

In [82]:
df1.loc['one','A']             # df1.loc['one',0]도 가능

11

In [83]:
df1.loc['one','B'], df1.loc['two','C']

(22, 66)

In [84]:
df1.iloc[0,1], df1.iloc[1,2]      ## iloc는 정수형 인덱스만 가능

(22, 66)

In [85]:
df1.iloc[0][1]     # df1.iloc[0]은 serise -> serise의 1번 인덱스 값

22

In [86]:
df1.loc['one']['B']

22

In [87]:
zero = df1.iloc[0]
zero

A    11
B    22
C    33
Name: one, dtype: int64

In [88]:
b = df1['B']
b

one      22
two      55
three    88
Name: B, dtype: int64

In [89]:
df1.shape[0], df1.shape[1]       # 행 열

(3, 3)

- iloc를 활용한 모든 원소 출력 ==> 행과 열의 번호

In [90]:
for r in range(df1.shape[0]):
    for c in range(df1.shape[1]):
        print(df1.iloc[r,c])      # 정수형 인덱스를 반환하니까  iloc

11
22
33
44
55
66
77
88
99

- loc를 활용한 모든 원소 출력 ==> 행 레이블/이름과 열 레이블/이름

In [91]:
for r in df1.index:
    for c in df1.columns:
        print(df1.loc[r,c])

11
22
33
44
55
66
77
88
99

#### [ 문제 ]  one, three 행을 선택 후 저장

In [100]:
data = df1.loc[['one','three']]
data

        A   B   C
one    11  22  33
three  77  88  99

In [101]:
df1.loc[['one']]    ## type : DataFrame    #[[행 인덱스]]   #loc는 row 읽는 함수

      A   B   C
one  11  22  33

In [102]:
df1.loc['one']

A    11
B    22
C    33
Name: one, dtype: int64