## [다양한 Series 객체 생성]

 #### (1) 모듈 로딩

In [3]:
import pandas as pd

 #### (2) Series 객체 생성 - 방법 1
  - Series( data, index = 지정)

In [5]:
sr1 = pd.Series([11,22,33], index = ['one','two','three'])   ##인덱스 지정하고 객체 생성

In [9]:
sr1

one      11
two      22
three    33
dtype: int64

 #### (2) Series 객체 생성 - 방법 1

In [7]:
sr2 = pd.Series([11,22,33], index = ['one','two','three'], name = 'jumsu')

In [8]:
sr2

one      11
two      22
three    33
Name: jumsu, dtype: int64

 #### (2) Series 객체 생성 - 방법 3

In [11]:
sr1 = pd.Series([11,22,33], index = ['one','two','three'], name = 'jumsu', dtype ='uint8')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: uint8

 #### (2) Series 객체 생성 - 방법 4 => 저장되는 데이터 dict

In [13]:
data = {'name':'홍길동','age':12,'job':'도적'}   ## key가 인덱스 이름으로 생성됨
sr1=pd.Series(data)
sr1

name    홍길동
age      12
job      도적
dtype: object

In [14]:
# 속성 확인하기
print(sr1.index, sr1.values, sep = '\n')   ## 데이터 타입이 섞이면 데이터 손실 없게 하기 위해 타입을 object로 맞춰버

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

 #### (2) Series 객체 생성 - 방법 5 => 저장되는 데이터 set

In [16]:
data = {'홍길동',12,'도적'}    # 순서 없는 데이터, 중복 불허

# 형변환 후 객체 생성 가
sr1 = pd.Series(list(data))
sr1

0     도적
1    홍길동
2     12
dtype: object