In [51]:
import pandas as pd

shopDF = pd.read_csv('../work/holly_branches.csv', encoding='utf-8', header = 0, index_col = 0)

shopDF

                                                     주소           전화번호
위치(시/구)
부산 사상구          부산광역시 사상구 광장로 22 (괘법동) 2층 사상구 괘법동 565-2   051-322-4117
경기 성남시 분당구          경기도 성남시 분당구 내정로 170 (수내동, 동신파크빌딩) .   031-713-8570
경기 하남시                           경기도 하남시 덕풍북로 2 (덕풍동) .  070-4791-4731
대전 중구            대전광역시 중구 계룡로 876 메종드메디컬빌딩 104호, 202호 .   042-522-3141
충남 계룡시      충청남도 계룡시 신도안면 신도안1길 43 (계룡스포츠센터) 계룡스포츠센터 1층   042-551-5508
...                                                 ...            ...
서울 마포구                 서울특별시 마포구 양화로 36 (합정동 374-1) 할리스   02-6204-1234
부산 해운대구      부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스   051-731-3410
서울 관악구                              서울특별시 관악구 신림로 353-1    02-877-0019
서울 중구        서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스    02-755-7795
서울 서대문구              서울특별시 서대문구 연세로 34 (창천동 31-12)  할리스    02-393-2004

[503 rows x 2 columns]

In [49]:
while True:
    city = input('검색할 매장의 도시를 입력하세요:')
    if city == 'quit':break
    citylist = []
    for i in shopDF.index:
        if city in shopDF.loc[i, '위치(시/구)']:
            citylist.append([shopDF.loc[i,'주소'],shopDF.loc[i,'전화번호']])
    
    print('-'*30, f'검색된 매장수: {len(citylist)}', '-'*30, sep='\n')
    for n,i in enumerate(citylist):
        print(f"[{n+1}]: {i}")
    print('-' *80)

SyntaxError: invalid syntax (2249172035.py, line 12)