### [ Series 객체 원소 인덱싱 & 슬라이싱]

(1) 모듈 로딩 ----------------------------------------------------------

In [1]:
from pandas import Series

(2) 데이터 준비 ------------------------------------

In [2]:
datas = {'name':'홍길동','age':12,'job':'도적'}

(3) Series 객체 생성 ------------------------------------------

In [3]:
sr1 = Series(datas)

In [4]:
sr1

name    홍길동
age      12
job      도적
dtype: object

(4) 인덱싱으로 원소 읽기 --------------------------------

In [5]:
sr1['age'],sr1[1],sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

=> 2개 원소 읽기

In [6]:
# 이름과 직업 데이터 읽기 ==> 원소 단위로 읽기
sr1['name'], sr1['job'],sr1[0],sr1[2],type(sr1[0])   ## type - str   ## 슬라이싱하면 type이 변함

('홍길동', '도적', '홍길동', '도적', str)

In [7]:
# 이름과 직업 데이터 읽기 ==> 리스트 단위로 읽기
ret1 = sr1[['name','job']]   ##레이블인덱스
ret2 = sr1[[0,2]]            ##위치인덱스

type(ret1), ret1       ## type - Seires

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [8]:
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

(5) 슬라이싱으로 원소 읽기 --------------------------------

- 위치 인덱스로 슬라이싱 -------------------------------

In [9]:
# 위치 인덱스로 슬라이싱 -------------------------------
sr1[:2]         # 시작<= ~ <끝

name    홍길동
age      12
dtype: object

In [10]:
sr1[:]          # 시작<= ~ <=끝

name    홍길동
age      12
job      도적
dtype: object

In [11]:
sr1[:-1]        ##음수 인덱스 가능

name    홍길동
age      12
dtype: object

- 레이블 인덱스로 슬라이싱 ------------------------------

In [12]:
sr1['name':'job']          # 시작<= ~ <=끝

name    홍길동
age      12
job      도적
dtype: object

In [13]:
sr1['name':'age']

name    홍길동
age      12
dtype: object