In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import datetime as dt

In [5]:
file = pd.read_csv('../DATA/revolutionary_war.csv')
file  # DataPrame

                                Battle  Start Date          State
0                         Powder Alarm    9/1/1774  Massachusetts
1    Storming of Fort William and Mary  12/14/1774  New Hampshire
2     Battles of Lexington and Concord   4/19/1775  Massachusetts
3                      Siege of Boston   4/19/1775  Massachusetts
4                   Gunpowder Incident   4/20/1775       Virginia
..                                 ...         ...            ...
227                Siege of Fort Henry   9/11/1782       Virginia
228         Grand Assault on Gibraltar   9/13/1782            NaN
229          Action of 18 October 1782  10/18/1782            NaN
230          Action of 6 December 1782   12/6/1782            NaN
231          Action of 22 January 1783   1/22/1783       Virginia

[232 rows x 3 columns]

In [6]:
sr = pd.Series(list(file['Start Date']))
sr = pd.to_datetime(sr)

In [7]:
type(sr)

pandas.core.series.Series

In [8]:
def day(date):
    return date.strftime('%A')

ValueError: NaTType does not support strftime

In [ ]:
sr.dropna().apply(day)  # 결측치 제거한 값들에 동시에 함수 적용(dropna -> apply)

0       Thursday
1      Wednesday
2      Wednesday
3      Wednesday
4       Thursday
         ...
227    Wednesday
228       Friday
229       Friday
230       Friday
231    Wednesday
Length: 228, dtype: object

In [ ]:
sr.dropna().apply(day).value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: count, dtype: int64