In [8]:
import pandas as pd

In [27]:
import numpy as np

- 1번

In [47]:
nfl = pd.read_csv('../DATA/nfl.csv',parse_dates=['Birthday'])

- 2번

In [48]:
# 1
nfl.set_index('Name')

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [46]:
# 2
nfl = pd.read_csv('../DATA/nfl.csv',index_col='Name',parse_dates=['Birthday'])

- 3번

In [14]:
nfl.value_counts('Team')

Team
New York Jets           58
Washington Redskins     56
Kansas City Chiefs      56
San Francisco 49Ers     55
New Orleans Saints      55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Dallas Cowboys          53
Chicago Bears           53
Detroit Lions           53
Seattle Seahawks        53
Buffalo Bills           53
Atlanta Falcons         53
Houston Texans          52
Philadelphia Eagles     52
Los Angeles Rams        52
New York Giants         52
Oakland Raiders         51
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Jacksonville Jaguars    50
Cleveland Browns        49
Carolina Panthers       49
Miami Dolphins          49
Indianapolis Colts      49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: count, dtype: int64

In [15]:
nfl['Team'].value_counts()

Team
New York Jets           58
Kansas City Chiefs      56
Washington Redskins     56
New Orleans Saints      55
San Francisco 49Ers     55
Denver Broncos          54
Minnesota Vikings       54
Los Angeles Chargers    54
Seattle Seahawks        53
Dallas Cowboys          53
Buffalo Bills           53
Atlanta Falcons         53
Detroit Lions           53
Chicago Bears           53
Los Angeles Rams        52
New York Giants         52
Philadelphia Eagles     52
Houston Texans          52
Arizona Cardinals       51
Cincinnati Bengals      51
Green Bay Packers       51
Oakland Raiders         51
Jacksonville Jaguars    50
Cleveland Browns        49
Miami Dolphins          49
Indianapolis Colts      49
Carolina Panthers       49
New England Patriots    49
Baltimore Ravens        48
Pittsburgh Steelers     47
Tampa Bay Buccaneers    47
Tennessee Titans        46
Name: count, dtype: int64

- 4번

In [17]:
nfl.sort_values('Salary',ascending=False).head()    # head() 기본값 : n = 5

                                 Team Position   Birthday    Salary
Name
Kirk Cousins        Minnesota Vikings       QB 1988-08-19  27500000
Jameis Winston   Tampa Bay Buccaneers       QB 1994-01-06  20922000
Marcus Mariota       Tennessee Titans       QB 1993-10-30  20922000
Derek Carr            Oakland Raiders       QB 1991-03-28  19900000
Jimmy Garoppolo   San Francisco 49Ers       QB 1991-11-02  17200000

In [19]:
nfl.sort_values(['Team','Salary'],ascending=[True,False])

                                   Team Position   Birthday    Salary
Name
Chandler Jones        Arizona Cardinals      OLB 1990-02-27  16500000
Patrick Peterson      Arizona Cardinals       CB 1990-07-11  11000000
Larry Fitzgerald      Arizona Cardinals       WR 1983-08-31  11000000
David Johnson         Arizona Cardinals       RB 1991-12-16   5700000
Justin Pugh           Arizona Cardinals        G 1990-08-15   5000000
...                                 ...      ...        ...       ...
Ross Pierschbacher  Washington Redskins        C 1995-05-05    495000
Kelvin Harmon       Washington Redskins       WR 1996-12-15    495000
Wes Martin          Washington Redskins        G 1996-05-09    495000
Jimmy Moreland      Washington Redskins       CB 1995-08-26    495000
Jeremy Reaves       Washington Redskins       SS 1996-08-29    495000

[1655 rows x 4 columns]

- 5번

In [49]:
nfl = nfl.sort_values('Birthday')

In [51]:
nfl = nfl.reset_index().set_index('Team')
nfl

                      index            Name Position   Birthday    Salary
Team
New England Patriots    776       Tom Brady       QB 1977-08-03  14000000
New Orleans Saints      345      Drew Brees       QB 1979-01-15   1400000
Philadelphia Eagles    1271     Josh McCown       QB 1979-07-04   2000000
New York Giants         145     Eli Manning       QB 1981-01-03  11500000
Atlanta Falcons         119     Matt Schaub       QB 1981-06-25   1030000
...                     ...             ...      ...        ...       ...
Arizona Cardinals       337  Jalen Thompson       SS 1998-07-18    495000
Pittsburgh Steelers     685      Devin Bush      ILB 1998-07-18    495000
Seattle Seahawks       1467    Travis Homer       RB 1998-08-07    495000
Minnesota Vikings      1574   Irv Smith Jr.       TE 1998-08-09   1447500
Detroit Lions          1217     Will Harris       SS 1998-12-19    495000

[1655 rows x 5 columns]

In [53]:
nfl.loc['New York Jets']

               index                Name Position   Birthday   Salary
Team
New York Jets    888          Ryan Kalil        C 1985-03-29  2400000
New York Jets   1448      Steve McLendon       NT 1986-01-03  1500000
New York Jets   1272    Albert McClellan      ILB 1986-06-04   805000
New York Jets    498    Demaryius Thomas       WR 1987-10-25  1200000
New York Jets   1237        Bilal Powell       RB 1988-10-04   930000
New York Jets   1560        Rontez Miles       SS 1988-11-25  1907000
New York Jets   1060         Tom Compton        G 1989-05-10  1410000
New York Jets    373        Josh Bellamy       WR 1989-05-18   930000
New York Jets   1597      Kelvin Beachum       OT 1989-06-08  8000000
New York Jets    705    Trumaine Johnson       CB 1990-01-01  8000000
New York Jets    730       Paul Worrilow      ILB 1990-05-01   805000
New York Jets    427         David Fales       QB 1990-10-04   805000
New York Jets     77      Darryl Roberts       CB 1990-11-26  1000000
New York Jets    507         Brent Qvale       OT 1991-03-11  1000000
New York Jets   1189    Brandon Copeland      OLB 1991-07-02  1500000
New York Jets     35     Bronson Kaufusi       DE 1991-07-06   645000
New York Jets   1478       Brian Winters        G 1991-07-10  6000000
New York Jets   1143      Henry Anderson       DE 1991-08-03  2000000
New York Jets   1652  Jonotthan Harrison        C 1991-08-25  1500000
New York Jets   1277     Bennett Jackson       FS 1991-09-16   495000
New York Jets   1095       Brandon Shell       OT 1992-02-06  2025000
New York Jets    678        Le'Veon Bell       RB 1992-02-18  2000000
New York Jets    775          Alex Lewis        G 1992-04-21  2025000
New York Jets   1550        Daniel Brown       TE 1992-05-26   805000
New York Jets   1527     Matthias Farley       FS 1992-07-15  3095000
New York Jets    742        Harvey Langi      OLB 1992-09-24   570000
New York Jets   1624     Conor McDermott        G 1992-10-19   645000
New York Jets   1444         Brian Poole       CB 1992-10-20  1000000
New York Jets    250          Sam Ficken        K 1992-12-14   495000
New York Jets    988       Ty Montgomery       RB 1993-01-22   805000
New York Jets    616      Neville Hewitt      ILB 1993-04-06  1000000
New York Jets   1421      Robby Anderson       WR 1993-05-09  3095000
New York Jets    985     Jamison Crowder       WR 1993-06-17  1500000
New York Jets   1544       Arthur Maulet       CB 1993-07-13   645000
New York Jets    586      Blake Countess       SS 1993-08-08  2025000
New York Jets   1592     Nathan Shepherd       DE 1993-10-09   656000
New York Jets    292         Marcus Maye       FS 1994-03-08  1060822
New York Jets    468       James Burgess      ILB 1994-03-09   645000
New York Jets   1247       Tarell Basham      OLB 1994-03-18   687500
New York Jets   1289      Maurice Canady       CB 1994-05-26   720000
New York Jets   1102     Thomas Hennessy       LS 1994-06-11   645000
New York Jets    761       Nate Hairston       CB 1994-06-30   645000
New York Jets    505      Jordan Jenkins      OLB 1994-07-01  2025000
New York Jets    267       Ryan Anderson        G 1994-12-30   949066
New York Jets    843  Folorunso Fatukasi       NT 1995-03-04   570000
New York Jets     92       Jordan Willis       DE 1995-05-02   754750
New York Jets    872        Trevon Wesco       TE 1995-09-12   495000
New York Jets   1178      Brad Lundblade        C 1995-09-21   495000
New York Jets   1414     Braxton Berrios       WR 1995-10-06   495000
New York Jets    665         Jamal Adams       SS 1995-10-17   645000
New York Jets    740       Vyncint Smith       WR 1996-06-09   570000
New York Jets   1027     Blessuan Austin       CB 1996-07-19   495000
New York Jets    319        Frankie Luvu      OLB 1996-09-19   570000
New York Jets    359          Josh Adams       RB 1996-10-29   570000
New York Jets   1471       Kyle Phillips       DE 1997-05-05   495000
New York Jets   1653         Chuma Edoga       OT 1997-05-25   495000
New York Jets   1491         Sam Darnold       QB 1997-06-05   570000
New York Jets    217    Quinnen Williams       DE 1997-12-21   495000

In [55]:
nfl.loc['New York Jets'].head(1)

               index        Name Position   Birthday   Salary
Team
New York Jets    888  Ryan Kalil        C 1985-03-29  2400000