1. 남북한 에너지
- 북한 : 신재생 행 추가
- 마지막 열(2017 이후)에 총계 추가

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('../DATA/남북한발전전력량.xlsx')   # index_col = [0,1] => 이쁘게 가져올 수 있음
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [3]:
df1.loc[9] = '0'
df1.loc[9,'발전 전력별'] = '신재생'
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,0,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
for i in df1.index:
    if i<5:
        df1.loc[i,'전력량 (억㎾h)'] = '남한'
    else:
        df1.loc[i,'전력량 (억㎾h)'] = '북한'

In [5]:
df1

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,남한,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,남한,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,남한,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,남한,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,북한,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,북한,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,북한,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,북한,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df1.set_index(['전력량 (억㎾h)','발전 전력별'], inplace=True)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     object
 1   1991    10 non-null     object
 2   1992    10 non-null     object
 3   1993    10 non-null     object
 4   1994    10 non-null     object
 5   1995    10 non-null     object
 6   1996    10 non-null     object
 7   1997    10 non-null     object
 8   1998    10 non-null     object
 9   1999    10 non-null     object
 10  2000    10 non-null     object
 11  2001    10 non-null     object
 12  2002    10 non-null     object
 13  2003    10 non-null     object
 14  2004    10 non-null     object
 15  2005    10 non-null     object
 16  2006    10 non-null     object
 17  2007    10 non-null     object
 18  2008    10 non-null     object
 19  2009    10 non-null     object
 20  2010    10 non-null     object
 21  2011    10 non-null     object
 22  2012    10 non-null     object
 23  2013    10 non-null     object
 24  2014    10 non-null     object
 25  2015    10 non-null     object
 26  2016    10 non-null     object
dtypes: object(27)
memory usage: 2.6+ KB

In [8]:
df1 = df1.replace('-','0')
df1

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     0     0     0     0     0    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        0
          신재생        0

[10 rows x 27 columns]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     object
 1   1991    10 non-null     object
 2   1992    10 non-null     object
 3   1993    10 non-null     object
 4   1994    10 non-null     object
 5   1995    10 non-null     object
 6   1996    10 non-null     object
 7   1997    10 non-null     object
 8   1998    10 non-null     object
 9   1999    10 non-null     object
 10  2000    10 non-null     object
 11  2001    10 non-null     object
 12  2002    10 non-null     object
 13  2003    10 non-null     object
 14  2004    10 non-null     object
 15  2005    10 non-null     object
 16  2006    10 non-null     object
 17  2007    10 non-null     object
 18  2008    10 non-null     object
 19  2009    10 non-null     object
 20  2010    10 non-null     object
 21  2011    10 non-null     object
 22  2012    10 non-null     object
 23  2013    10 non-null     object
 24  2014    10 non-null     object
 25  2015    10 non-null     object
 26  2016    10 non-null     object
dtypes: object(27)
memory usage: 2.6+ KB

In [10]:
df1.columns

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [11]:
for col in df1.columns:
    df1[col] = df1[col].astype('int64')

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, ('남한', '합계') to ('북한', '신재생')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    10 non-null     int64
 1   1991    10 non-null     int64
 2   1992    10 non-null     int64
 3   1993    10 non-null     int64
 4   1994    10 non-null     int64
 5   1995    10 non-null     int64
 6   1996    10 non-null     int64
 7   1997    10 non-null     int64
 8   1998    10 non-null     int64
 9   1999    10 non-null     int64
 10  2000    10 non-null     int64
 11  2001    10 non-null     int64
 12  2002    10 non-null     int64
 13  2003    10 non-null     int64
 14  2004    10 non-null     int64
 15  2005    10 non-null     int64
 16  2006    10 non-null     int64
 17  2007    10 non-null     int64
 18  2008    10 non-null     int64
 19  2009    10 non-null     int64
 20  2010    10 non-null     int64
 21  2011    10 non-null     int64
 22  2012    10 non-null     int64
 23  2013    10 non-null     int64
 24  2014    10 non-null     int64
 25  2015    10 non-null     int64
 26  2016    10 non-null     int64
dtypes: int64(27)
memory usage: 2.6+ KB

In [13]:
sumlist = []
for i in range(len(df1.index)):   # = range(df1.shape[0])
    sumlist.append(df1.iloc[i].sum())
df1['총계'] = sumlist

In [14]:
df1

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        0     0     0     0     0     0     0     0     0     0
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        0     0     0     0     0     0     0     0     0     0
          신재생        0     0     0     0     0     0     0     0     0     0

                  ...  2008  2009  2010  2011  2012  2013  2014  2015  2016  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4224  4336  4747  4969  5096  5171  5220  5281  5404
          수력      ...    56    56    65    78    77    84    78    58    66
          화력      ...  2658  2802  3196  3343  3430  3581  3427  3402  3523
          원자력     ...  1510  1478  1486  1547  1503  1388  1564  1648  1620
          신재생     ...     0     0     0     0    86   118   151   173   195
북한        합계      ...   255   235   237   211   215   221   216   190   239
          수력      ...   141   125   134   132   135   139   130   100   128
          화력      ...   114   110   103    79    80    82    86    90   111
          원자력     ...     0     0     0     0     0     0     0     0     0
          신재생     ...     0     0     0     0     0     0     0     0     0

                     총계
전력량 (억㎾h) 발전 전력별
남한        합계      88523
          수력       1599
          화력      55136
          원자력     31067
          신재생       723
북한        합계       5914
          수력       3408
          화력       2506
          원자력         0
          신재생         0

[10 rows x 28 columns]

2. 시도별 전출입
- 전출 -> 전입 인구 분석
- 서울과 제주로 가장 많이 이주한 지역

In [15]:
moveDF = pd.read_excel('../DATA/시도별 전출입 인구수.xlsx', index_col=[0,1], header = [0,1])

In [16]:
moveDF

전입지별                1970     1971     1972     1973     1974     1975  \
전입지별            이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)
전국      전국       4046536  4210164  3687938  4860418  5297969  9011440
        서울특별시    1742813  1671705  1349333  1831858  2050392  3396662
        부산광역시     448577   389797   362202   482061   680984   805979
        대구광역시          -        -        -        -        -        -
        인천광역시          -        -        -        -        -        -
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         139      202      141      210      219      415
        전라남도         631      965      857      952     1133     2808
        경상북도         374      619      468      576      625     1123
        경상남도         474      479      440      571     1208     1517
        제주특별자치도     9290    12427    12210    16158    19580    34221

전입지별                1976     1977     1978     1979  ...     2008     2009  \
전입지별            이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)  ... 이동자수 (명) 이동자수 (명)
전국      전국       6773250  7397623  8410276  7324380  ...  8808256  8487275
        서울특별시    2756510  2893403  3307439  2589667  ...  2025358  1873188
        부산광역시     724664   785117   895337   809483  ...   514502   519310
        대구광역시          -        -        -        -  ...   409938   398626
        인천광역시          -        -        -        -  ...   565585   478169
...                  ...      ...      ...      ...  ...      ...      ...
제주특별자치도 전라북도         392      408      363      354  ...      668      579
        전라남도        2608     2652     2722     2178  ...     1143     1123
        경상북도        1141     1004     1009      818  ...      761      704
        경상남도         863     1122     1331     1290  ...     1517     1474
        제주특별자치도    23291    31028    30719    30064  ...    59564    55673

전입지별                2010     2011     2012     2013     2014     2015  \
전입지별            이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명) 이동자수 (명)
전국      전국       8226594  8127195  7506691  7411784  7629098  7755286
        서울특별시    1733015  1721748  1555281  1520090  1573594  1589431
        부산광역시     519334   508043   461042   478451   485710   507031
        대구광역시     370817   370563   348642   351873   350213   351424
        인천광역시     462051   499567   468666   461613   452297   473223
...                  ...      ...      ...      ...      ...      ...
제주특별자치도 전라북도         672      561      551      516      609      683
        전라남도        1002     1026      966     1001      928     1062
        경상북도         738      756      699      781      728      903
        경상남도        1324     1367     1227     1278     1223     1500
        제주특별자치도    55507    59846    54280    60607    59673    59036

전입지별                2016     2017
전입지별            이동자수 (명) 이동자수 (명)
전국      전국       7378430  7154226
        서울특별시    1515602  1472937
        부산광역시     459015   439073
        대구광역시     328228   321182
        인천광역시     441646   409465
...                  ...      ...
제주특별자치도 전라북도         733      768
        전라남도        1127     1102
        경상북도         931      994
        경상남도        1448     1501
        제주특별자치도    66444    63275

[324 rows x 48 columns]

In [17]:
moveDF.replace('-','0', inplace=True)

In [18]:
moveDF.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 324 entries, ('전국', '전국') to ('제주특별자치도', '제주특별자치도')
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (1970, 이동자수 (명))  324 non-null    object
 1   (1971, 이동자수 (명))  324 non-null    object
 2   (1972, 이동자수 (명))  324 non-null    object
 3   (1973, 이동자수 (명))  324 non-null    object
 4   (1974, 이동자수 (명))  324 non-null    object
 5   (1975, 이동자수 (명))  324 non-null    object
 6   (1976, 이동자수 (명))  324 non-null    object
 7   (1977, 이동자수 (명))  324 non-null    object
 8   (1978, 이동자수 (명))  324 non-null    object
 9   (1979, 이동자수 (명))  324 non-null    object
 10  (1980, 이동자수 (명))  324 non-null    object
 11  (1981, 이동자수 (명))  324 non-null    object
 12  (1982, 이동자수 (명))  324 non-null    object
 13  (1983, 이동자수 (명))  324 non-null    object
 14  (1984, 이동자수 (명))  324 non-null    object
 15  (1985, 이동자수 (명))  324 non-null    object
 16  (1986, 이동자수 (명))  324 non-null    object
 17  (1987, 이동자수 (명))  324 non-null    object
 18  (1988, 이동자수 (명))  324 non-null    object
 19  (1989, 이동자수 (명))  324 non-null    object
 20  (1990, 이동자수 (명))  324 non-null    object
 21  (1991, 이동자수 (명))  324 non-null    object
 22  (1992, 이동자수 (명))  324 non-null    object
 23  (1993, 이동자수 (명))  324 non-null    object
 24  (1994, 이동자수 (명))  324 non-null    object
 25  (1995, 이동자수 (명))  324 non-null    object
 26  (1996, 이동자수 (명))  324 non-null    object
 27  (1997, 이동자수 (명))  324 non-null    object
 28  (1998, 이동자수 (명))  324 non-null    object
 29  (1999, 이동자수 (명))  324 non-null    object
 30  (2000, 이동자수 (명))  324 non-null    object
 31  (2001, 이동자수 (명))  324 non-null    object
 32  (2002, 이동자수 (명))  324 non-null    object
 33  (2003, 이동자수 (명))  324 non-null    object
 34  (2004, 이동자수 (명))  324 non-null    object
 35  (2005, 이동자수 (명))  324 non-null    object
 36  (2006, 이동자수 (명))  324 non-null    object
 37  (2007, 이동자수 (명))  324 non-null    object
 38  (2008, 이동자수 (명))  324 non-null    object
 39  (2009, 이동자수 (명))  324 non-null    object
 40  (2010, 이동자수 (명))  324 non-null    object
 41  (2011, 이동자수 (명))  324 non-null    object
 42  (2012, 이동자수 (명))  324 non-null    int64
 43  (2013, 이동자수 (명))  324 non-null    int64
 44  (2014, 이동자수 (명))  324 non-null    int64
 45  (2015, 이동자수 (명))  324 non-null    int64
 46  (2016, 이동자수 (명))  324 non-null    int64
 47  (2017, 이동자수 (명))  324 non-null    int64
dtypes: int64(6), object(42)
memory usage: 123.5+ KB

In [19]:
for i in moveDF.columns:
    moveDF[i] = moveDF[i].astype('int64')

In [20]:
moveDF.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 324 entries, ('전국', '전국') to ('제주특별자치도', '제주특별자치도')
Data columns (total 48 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (1970, 이동자수 (명))  324 non-null    int64
 1   (1971, 이동자수 (명))  324 non-null    int64
 2   (1972, 이동자수 (명))  324 non-null    int64
 3   (1973, 이동자수 (명))  324 non-null    int64
 4   (1974, 이동자수 (명))  324 non-null    int64
 5   (1975, 이동자수 (명))  324 non-null    int64
 6   (1976, 이동자수 (명))  324 non-null    int64
 7   (1977, 이동자수 (명))  324 non-null    int64
 8   (1978, 이동자수 (명))  324 non-null    int64
 9   (1979, 이동자수 (명))  324 non-null    int64
 10  (1980, 이동자수 (명))  324 non-null    int64
 11  (1981, 이동자수 (명))  324 non-null    int64
 12  (1982, 이동자수 (명))  324 non-null    int64
 13  (1983, 이동자수 (명))  324 non-null    int64
 14  (1984, 이동자수 (명))  324 non-null    int64
 15  (1985, 이동자수 (명))  324 non-null    int64
 16  (1986, 이동자수 (명))  324 non-null    int64
 17  (1987, 이동자수 (명))  324 non-null    int64
 18  (1988, 이동자수 (명))  324 non-null    int64
 19  (1989, 이동자수 (명))  324 non-null    int64
 20  (1990, 이동자수 (명))  324 non-null    int64
 21  (1991, 이동자수 (명))  324 non-null    int64
 22  (1992, 이동자수 (명))  324 non-null    int64
 23  (1993, 이동자수 (명))  324 non-null    int64
 24  (1994, 이동자수 (명))  324 non-null    int64
 25  (1995, 이동자수 (명))  324 non-null    int64
 26  (1996, 이동자수 (명))  324 non-null    int64
 27  (1997, 이동자수 (명))  324 non-null    int64
 28  (1998, 이동자수 (명))  324 non-null    int64
 29  (1999, 이동자수 (명))  324 non-null    int64
 30  (2000, 이동자수 (명))  324 non-null    int64
 31  (2001, 이동자수 (명))  324 non-null    int64
 32  (2002, 이동자수 (명))  324 non-null    int64
 33  (2003, 이동자수 (명))  324 non-null    int64
 34  (2004, 이동자수 (명))  324 non-null    int64
 35  (2005, 이동자수 (명))  324 non-null    int64
 36  (2006, 이동자수 (명))  324 non-null    int64
 37  (2007, 이동자수 (명))  324 non-null    int64
 38  (2008, 이동자수 (명))  324 non-null    int64
 39  (2009, 이동자수 (명))  324 non-null    int64
 40  (2010, 이동자수 (명))  324 non-null    int64
 41  (2011, 이동자수 (명))  324 non-null    int64
 42  (2012, 이동자수 (명))  324 non-null    int64
 43  (2013, 이동자수 (명))  324 non-null    int64
 44  (2014, 이동자수 (명))  324 non-null    int64
 45  (2015, 이동자수 (명))  324 non-null    int64
 46  (2016, 이동자수 (명))  324 non-null    int64
 47  (2017, 이동자수 (명))  324 non-null    int64
dtypes: int64(48)
memory usage: 123.5+ KB

In [21]:
# 전출 -> 전입 인구 분석
moveDF.corr()

,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
전입지별,전입지별,,,,,,,,,,,,,,,,,,,,,
1970,이동자수 (명),1.000000,0.998505,0.996188,0.997850,0.998558,0.996456,0.999318,0.998700,0.998818,0.995814,...,0.939522,0.935146,0.931801,0.933716,0.930448,0.930562,0.932814,0.931428,0.929865,0.929708
1971,이동자수 (명),0.998505,1.000000,0.998713,0.999474,0.998401,0.998999,0.998902,0.999031,0.998946,0.998176,...,0.948646,0.944940,0.941962,0.943669,0.940831,0.940868,0.942984,0.941566,0.940223,0.940155
1972,이동자수 (명),0.996188,0.998713,1.000000,0.999483,0.997704,0.999593,0.997351,0.998287,0.997956,0.998775,...,0.947730,0.944411,0.941608,0.943430,0.940694,0.940852,0.942941,0.941512,0.939956,0.939981
1973,이동자수 (명),0.997850,0.999474,0.999483,1.000000,0.998805,0.999319,0.998724,0.999141,0.999003,0.998698,...,0.946349,0.942705,0.939775,0.941618,0.938719,0.938893,0.941110,0.939617,0.938078,0.938029
1974,이동자수 (명),0.998558,0.998401,0.997704,0.998805,1.000000,0.997445,0.999193,0.999286,0.999409,0.998511,...,0.944945,0.941241,0.938340,0.940153,0.937041,0.937433,0.939654,0.938257,0.936509,0.936429
1975,이동자수 (명),0.996456,0.998999,0.999593,0.999319,0.997445,1.000000,0.997498,0.998189,0.998020,0.998355,...,0.945065,0.941516,0.938567,0.940460,0.937634,0.937766,0.939997,0.938396,0.936837,0.936907
1976,이동자수 (명),0.999318,0.998902,0.997351,0.998724,0.999193,0.997498,1.000000,0.999760,0.999810,0.997474,...,0.942714,0.938550,0.935356,0.937248,0.934057,0.934202,0.936398,0.935091,0.933549,0.933375
1977,이동자수 (명),0.998700,0.999031,0.998287,0.999141,0.999286,0.998189,0.999760,1.000000,0.999944,0.998467,...,0.945853,0.941964,0.938938,0.940774,0.937679,0.937843,0.939958,0.938724,0.937194,0.937059
1978,이동자수 (명),0.998818,0.998946,0.997956,0.999003,0.999409,0.998020,0.999810,0.999944,1.000000,0.998361,...,0.945188,0.941245,0.938202,0.940054,0.936905,0.937106,0.939288,0.937993,0.936414,0.936294
1979,이동자수 (명),0.995814,0.998176,0.998775,0.998698,0.998511,0.998355,0.997474,0.998467,0.998361,1.000000,...,0.953945,0.950969,0.948547,0.950069,0.947391,0.947688,0.949642,0.948430,0.946925,0.946925
1980,이동자수 (명),0.993624,0.997102,0.998218,0.997803,0.997280,0.997637,0.995619,0.996909,0.996734,0.999522,...,0.957270,0.954678,0.952441,0.953890,0.951393,0.951758,0.953678,0.952349,0.950855,0.950919
1981,이동자수 (명),0.989268,0.989432,0.986691,0.989218,0.991084,0.986892,0.990116,0.989738,0.990229,0.989284,...,0.958275,0.954118,0.951193,0.953293,0.950440,0.951051,0.953136,0.951474,0.949664,0.949474
1982,이동자수 (명),0.988485,0.988511,0.985490,0.988084,0.990400,0.985429,0.989298,0.988989,0.989456,0.988757,...,0.961261,0.957263,0.954488,0.956407,0.953639,0.954251,0.956160,0.954708,0.953008,0.952781
1983,이동자수 (명),0.988252,0.988976,0.985443,0.988053,0.989715,0.985561,0.989285,0.989047,0.989449,0.988713,...,0.965090,0.961123,0.958380,0.960186,0.957545,0.957997,0.959787,0.958463,0.957004,0.956753
1984,이동자수 (명),0.986744,0.987936,0.984831,0.987188,0.988821,0.984843,0.987772,0.987763,0.988178,0.988334,...,0.967701,0.963921,0.961348,0.963151,0.960619,0.961144,0.962916,0.961551,0.960036,0.959838
1985,이동자수 (명),0.984311,0.986532,0.983750,0.985752,0.987095,0.983544,0.985774,0.986093,0.986419,0.987718,...,0.972361,0.968970,0.966671,0.968288,0.965985,0.966491,0.968094,0.966846,0.965458,0.965258
1986,이동자수 (명),0.982373,0.984452,0.982166,0.983642,0.984902,0.981447,0.983323,0.983927,0.984140,0.986243,...,0.977714,0.974831,0.972661,0.974118,0.971914,0.972367,0.973865,0.972709,0.971397,0.971238
1987,이동자수 (명),0.980677,0.983072,0.981057,0.982309,0.983721,0.980229,0.981687,0.982456,0.982671,0.985374,...,0.979311,0.976634,0.974531,0.975964,0.973853,0.974365,0.975820,0.974637,0.973276,0.973185
1988,이동자수 (명),0.984130,0.985158,0.982046,0.983828,0.985345,0.981461,0.984758,0.985019,0.985226,0.985710,...,0.976384,0.973108,0.970544,0.972128,0.969749,0.970071,0.971569,0.970454,0.969190,0.969000
1989,이동자수 (명),0.981069,0.982712,0.979707,0.981373,0.982930,0.978886,0.982149,0.982503,0.982732,0.983969,...,0.980235,0.977230,0.975005,0.976457,0.974245,0.974534,0.975962,0.974832,0.973644,0.973404
1990,이동자수 (명),0.974035,0.977635,0.975549,0.976536,0.977541,0.974453,0.975851,0.976912,0.977066,0.980649,...,0.986443,0.984081,0.982426,0.983669,0.981830,0.982176,0.983406,0.982365,0.981281,0.981072
1991,이동자수 (명),0.970628,0.975002,0.973791,0.974324,0.975168,0.972517,0.972567,0.973998,0.974160,0.978939,...,0.987380,0.985470,0.983989,0.985206,0.983465,0.983942,0.985238,0.984010,0.982799,0.982729
1992,이동자수 (명),0.967591,0.971966,0.970657,0.971226,0.972469,0.969155,0.969676,0.971218,0.971379,0.976480,...,0.988511,0.986748,0.985414,0.986517,0.984840,0.985342,0.986510,0.985437,0.984276,0.984169
1993,이동자수 (명),0.964008,0.969319,0.968079,0.968288,0.968947,0.966354,0.966382,0.968206,0.968180,0.974109,...,0.991998,0.990471,0.989411,0.990291,0.988908,0.989266,0.990150,0.989355,0.988489,0.988334
1994,이동자수 (명),0.961293,0.966743,0.965256,0.965500,0.966098,0.963425,0.963747,0.965677,0.965625,0.971633,...,0.993114,0.991692,0.990711,0.991475,0.990158,0.990462,0.991225,0.990596,0.989850,0.989672
1995,이동자수 (명),0.957611,0.964239,0.963141,0.963023,0.963097,0.961152,0.960454,0.962719,0.962560,0.969688,...,0.994643,0.993631,0.992916,0.993493,0.992388,0.992662,0.993323,0.992742,0.992135,0.991972
1996,이동자수 (명),0.956859,0.963376,0.962366,0.962091,0.962392,0.960234,0.959641,0.961984,0.961807,0.968998,...,0.995594,0.994675,0.993937,0.994510,0.993446,0.993733,0.994333,0.993818,0.993185,0.993078
1997,이동자수 (명),0.951671,0.959095,0.958261,0.957508,0.957025,0.955855,0.954539,0.957046,0.956599,0.964254,...,0.997932,0.997158,0.996519,0.997032,0.996328,0.996476,0.996900,0.996468,0.996018,0.995829
1998,이동자수 (명),0.949235,0.957495,0.957366,0.956342,0.955636,0.954974,0.952325,0.955078,0.954687,0.963376,...,0.997383,0.996945,0.996427,0.996965,0.996322,0.996603,0.997172,0.996481,0.995884,0.995821
1999,이동자수 (명),0.954725,0.962011,0.960887,0.960239,0.959677,0.958617,0.957557,0.959957,0.959515,0.966584,...,0.997982,0.997137,0.996361,0.996886,0.996105,0.996194,0.996680,0.996212,0.995786,0.995627
2000,이동자수 (명),0.951736,0.959312,0.958068,0.957348,0.956657,0.955787,0.954590,0.957083,0.956616,0.963851,...,0.998630,0.997798,0.997085,0.997593,0.996904,0.996957,0.997348,0.996964,0.996602,0.996428
2001,이동자수 (명),0.949797,0.957512,0.956006,0.955259,0.954548,0.953566,0.952798,0.955381,0.954826,0.962110,...,0.999019,0.998303,0.997705,0.998039,0.997439,0.997392,0.997616,0.997479,0.997311,0.997081
2002,이동자수 (명),0.945759,0.954019,0.952527,0.951626,0.950768,0.949991,0.948866,0.951668,0.951084,0.958972,...,0.999434,0.998978,0.998560,0.998736,0.998289,0.998222,0.998327,0.998312,0.998244,0.998049
2003,이동자수 (명),0.945960,0.954287,0.953137,0.952155,0.951332,0.950617,0.948997,0.951831,0.951290,0.959413,...,0.999478,0.999094,0.998651,0.998920,0.998437,0.998459,0.998700,0.998472,0.998262,0.998133
2004,이동자수 (명),0.942320,0.951418,0.950713,0.949360,0.948034,0.948184,0.945354,0.948451,0.947861,0.956868,...,0.999626,0.999497,0.999209,0.999435,0.999102,0.999129,0.999356,0.999071,0.998901,0.998853
2005,이동자수 (명),0.939882,0.949002,0.948240,0.946844,0.945664,0.945545,0.943079,0.946234,0.945607,0.954667,...,0.999833,0.999783,0.999530,0.999691,0.999423,0.999430,0.999520,0.999387,0.999272,0.999209
2006,이동자수 (명),0.937111,0.946357,0.945325,0.943825,0.942549,0.942447,0.940386,0.943626,0.942888,0.951854,...,0.999738,0.999808,0.999604,0.999618,0.999445,0.999326,0.999240,0.999338,0.999406,0.999313
2007,이동자수 (명),0.938102,0.947422,0.946535,0.945034,0.943605,0.943823,0.941367,0.944576,0.943880,0.952863,...,0.999960,0.999832,0.999596,0.999756,0.999551,0.999462,0.999457,0.999451,0.999431,0.999325
2008,이동자수 (명),0.939522,0.948646,0.947730,0.946349,0.944945,0.945065,0.942714,0.945853,0.945188,0.953945,...,1.000000,0.999736,0.999433,0.999667,0.999408,0.999345,0.999392,0.999341,0.999262,0.999150
2009,이동자수 (명),0.935146,0.944940,0.944411,0.942705,0.941241,0.941516,0.938550,0.941964,0.941245,0.950969,...,0.999736,1.000000,0.999891,0.999921,0.999808,0.999770,0.999744,0.999711,0.999693,0.999661
2010,이동자수 (명),0.931801,0.941962,0.941608,0.939775,0.938340,0.938567,0.935356,0.938938,0.938202,0.948547,...,0.999433,0.999891,1.000000,0.999919,0.999909,0.999883,0.999786,0.999830,0.999863,0.999824
2011,이동자수 (명),0.933716,0.943669,0.943430,0.941618,0.940153,0.940460,0.937248,0.940774,0.940054,0.950069,...,0.999667,0.999921,0.999919,1.000000,0.999913,0.999905,0.999878,0.999849,0.999790,0.999742
2012,이동자수 (명),0.930448,0.940831,0.940694,0.938719,0.937041,0.937634,0.934057,0.937679,0.936905,0.947391,...,0.999408,0.999808,0.999909,0.999913,1.000000,0.999964,0.999863,0.999915,0.999920,0.999890
2013,이동자수 (명),0.930562,0.940868,0.940852,0.938893,0.937433,0.937766,0.934202,0.937843,0.937106,0.947688,...,0.999345,0.999770,0.999883,0.999905,0.999964,1.000000,0.999919,0.999936,0.999877,0.999864
2014,이동자수 (명),0.932814,0.942984,0.942941,0.941110,0.939654,0.939997,0.936398,0.939958,0.939288,0.949642,...,0.999392,0.999744,0.999786,0.999878,0.999863,0.999919,1.000000,0.999890,0.999745,0.999769
2015,이동자수 (명),0.931428,0.941566,0.941512,0.939617,0.938257,0.938396,0.935091,0.938724,0.937993,0.948430,...,0.999341,0.999711,0.999830,0.999849,0.999915,0.999936,0.999890,1.000000,0.999927,0.999915
2016,이동자수 (명),0.929865,0.940223,0.939956,0.938078,0.936509,0.936837,0.933549,0.937194,0.936414,0.946925,...,0.999262,0.999693,0.999863,0.999790,0.999920,0.999877,0.999745,0.999927,1.000000,0.999966
2017,이동자수 (명),0.929708,0.940155,0.939981,0.938029,0.936429,0.936907,0.933375,0.937059,0.936294,0.946925,...,0.999150,0.999661,0.999824,0.999742,0.999890,0.999864,0.999769,0.999915,0.999966,1.000000

In [22]:
moveSDF = moveDF.xs('서울특별시', level = 1)
moveJDF = moveDF.xs('제주특별자치도', level = 1)

In [23]:
sumS = {}
for i in moveSDF.index:
    if i != '전국' and i != '서울특별시':    ## update가 안되는 이유??
        sumS[i] = moveSDF.loc[i].sum()
sumS

{'부산광역시': 1500114,
 '대구광역시': 638316,
 '인천광역시': 1579059,
 '광주광역시': 512127,
 '대전광역시': 458737,
 '울산광역시': 134618,
 '세종특별자치시': 11842,
 '경기도': 11943433,
 '강원도': 1688850,
 '충청북도': 1392588,
 '충청남도': 2259763,
 '전라북도': 2268749,
 '전라남도': 2585030,
 '경상북도': 1910055,
 '경상남도': 1560669,
 '제주특별자치도': 327775}

In [24]:
for k, v in sumS.items():
    if v == max(sumS.values()):
        print(f'{k} 지역이 서울로 가장 많이 이주한 지역입니다.')

경기도 지역이 서울로 가장 많이 이주한 지역입니다.

In [25]:
sumJ = {}
for i in moveJDF.index:
    if i != '전국' and i != '제주특별자치도':
        sumJ[i] = moveJDF.loc[i].sum()
sumJ

{'서울특별시': 260781,
 '부산광역시': 114462,
 '대구광역시': 25851,
 '인천광역시': 40469,
 '광주광역시': 25692,
 '대전광역시': 14068,
 '울산광역시': 9533,
 '세종특별자치시': 709,
 '경기도': 171381,
 '강원도': 23534,
 '충청북도': 17471,
 '충청남도': 28398,
 '전라북도': 31878,
 '전라남도': 97097,
 '경상북도': 38607,
 '경상남도': 65022}

In [26]:
for k, v in sumJ.items():
    if v == max(sumJ.values()):
        print(f'{k} 지역이 제주도로 가장 많이 이주한 지역입니다.')

서울특별시 지역이 제주도로 가장 많이 이주한 지역입니다.

In [28]:
## 함수 구현

def moveCityMax(city):

    movecDF = moveDF.xs(f'{city}', level = 1)
    
    sumcDF = {}
    for i in movecDF.index:
        if i != '전국' and i != city:   
            sumcDF[i] = movecDF.loc[i].sum()

    for k, v in sumcDF.items():
        if v == max(sumcDF.values()):
            print(f'{k} 지역이 {city}로 가장 많이 이주한 지역입니다.')

moveCityMax('경상북도')

대구광역시 지역이 경상북도로 가장 많이 이주한 지역입니다.