## [ DataFrame에 행/열 추가 ]

### (1) 모듈 로딩<hr>

In [1]:
import pandas as pd

### (2) 데이터 준비<hr>

In [2]:
# dict 타입의 데이터 생성
exam = {'이름':['박희진','손예림','명노아','전진우']            ## dict의 key가 col값이 됨
        ,'국어':[98,77,44,66]
        ,'미술':[100,100,40,39]
        ,'수학':[92,88,79,58]
        ,'체육':[40,68,99,88]}

### (3) DataFrame에 데이터 저장<hr>

In [3]:
examDF = pd.DataFrame(exam)

In [4]:
examDF

    이름  국어   미술  수학  체육
0  박희진  98  100  92  40
1  손예림  77  100  88  68
2  명노아  44   40  79  99
3  전진우  66   39  58  88

In [5]:
examDF.dtypes[1]

dtype('int64')

### (4) 저장된 데이터 속성 확인<hr>

In [6]:
def printAttribute(df, dfname):
    print(f'[{dfname}]') 
    print(f'index\n ==> {examDF.index}')
    print(f'columns\n ==> {examDF.columns}')
    print(f'shape\n ==> {examDF.shape}')
    print(f'ndim\n ==> {examDF.ndim}')
  #  print(f'dtypes\n ==> {name : examDF.dtypes[idx] for name, idx in examDFdtypes.index, range(len(1,examDF.dtypes.index))}   ## dtypes의 data type은 series
    print(f'size\n ==> {examDF.size}')

In [7]:
printAttribute(examDF,'examDF')

[examDF]
index
 ==> RangeIndex(start=0, stop=4, step=1)
columns
 ==> Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')
shape
 ==> (4, 5)
ndim
 ==> 2
size
 ==> 20

### (5) DataFrame에 컬럼(column) 추가<hr>
- 방법 : DF객체변수명[새로운 컬럼명] = 값

In [33]:
examDF.columns

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

In [36]:
# 행 갯수 만큼 값 추가
examDF['영어'] = [33,88,55,67]

In [43]:
examDF

    이름  국어   미술  수학  체육  영어  과학   컴퓨터
0  박희진  98  100  92  40  33  90  89.0
1  손예림  77  100  88  68  88  90  10.0
2  명노아  44   40  79  99  55  90   NaN
3  전진우  66   39  58  88  67  90   NaN

In [38]:
# 1개의 데이터 즉 값 추가시 모든 행에 동일 값으로 저장
examDF['과학'] = 90

In [44]:
examDF['컴퓨터'] = [89,10,None,None]  ## 인덱스 수와 값 수가 같아야 함 ==> Error // 없는 값은 None으로 넣자!

### (6) DataFrame에 행(row) 추가 <hr>
- 방법 : DF객체변수명.loc[새로운 행 인덱스] = [컬럼 수만큼 데이터]
- 방법 : DF객체변수명.loc[새로운 행 인덱스] = 데이터
- 방법 : DF객체변수명.iloc[새로운 행 인덱스] = [컬럼 수만큼 데이터] => 사용불가능 / 데이터가 존재해야 인덱스가 할당됨

In [45]:
examDF.index

RangeIndex(start=0, stop=4, step=1)

In [48]:
# 컬럼 수 만큼의 데이터를 가진 행 추가
examDF.loc[4] = ['원더우먼',11,22,33,44,55,66,77]

In [49]:
examDF

     이름  국어   미술  수학  체육  영어  과학   컴퓨터
0   박희진  98  100  92  40  33  90  89.0
1   손예림  77  100  88  68  88  90  10.0
2   명노아  44   40  79  99  55  90   NaN
3   전진우  66   39  58  88  67  90   NaN
4  원더우먼  11   22  33  44  55  66  77.0
5   이윤서  11   22  33  44  55  66  77.0

In [50]:
# 행 추가시 iloc는 사용불가 => 데이터 수에 맞게 인덱스가 지정되기 때문에
#                             현재 데이터에 없는 인덱스로 사용 불가
# examDF.iloc[4] = ['원더우먼',11,22,33,44,55,66,77]

In [51]:
# 1개 데이터 가진 행 추가
examDF.loc[6] = '슈퍼맨'       ## loc[6]행에 모든 데이터를 슈퍼맨으로 넣음  ## []안에 넣으면 안됨