## [ DataFrame 인덱스 다루기 ]

- (1) 모듈 로딩 <hr>

In [14]:
import pandas as pd

- (2) 데이터 준비 <hr>

In [15]:
# dict 타입의 데이터 생성
exam = {'이름':['박희진','손예림','명노아','전진우']   
        ,'국어':[100,80,40,39]   
        ,'미술':[10,30,40,39]
        ,'수학':[92,88,79,58]
        ,'체육':[92,68,99,88]}

- (3) 데이터 저장<hr>

In [16]:
examDF = pd.DataFrame(exam)

- (4) 데이터 확인<hr>

In [17]:
examDF

    이름   국어  미술  수학  체육
0  박희진  100  10  92  92
1  손예림   80  30  88  68
2  명노아   40  40  79  99
3  전진우   39  39  58  88

- 행 데이터 추가

In [18]:
# 국어 점수 같게
examDF.loc[4] = ['박희진',100,90,92,58]

In [19]:
# 체육 점수가
examDF.loc[5] = ['박희진',100,70,60,90]

- (5) 새로운 인덱스 설정 - 방법 3 : 멀티인덱스 제어 DF.set_index([컬럼1,컬럼2,...,컬럼n])<hr>

In [20]:
# 이름, 국어, 수학을 인덱스 설정
examDF1 = examDF.set_index(['이름','국어','수학'])

In [21]:
examDF1.index

MultiIndex([('박희진', 100, 92),
            ('손예림',  80, 88),
            ('명노아',  40, 79),
            ('전진우',  39, 58),
            ('박희진', 100, 92),
            ('박희진', 100, 60)],
           names=['이름', '국어', '수학'])

- 행 데이터 선택 : DF객체변수명.loc[행 레이블] / DF객체변수명.iloc[위치 인덱스]

In [22]:
examDF1.loc['박희진',100,92]

C:\Users\kdp\AppData\Local\Temp\ipykernel_15440\192032267.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  examDF1.loc['박희진',100,92]

            미술  체육
이름  국어  수학
박희진 100 92  10  92
        92  90  58

In [23]:
examDF1.loc['박희진',100,60]

C:\Users\kdp\AppData\Local\Temp\ipykernel_15440\1322847955.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  examDF1.loc['박희진',100,60]

            미술  체육
이름  국어  수학
박희진 100 60  70  90

In [24]:
# Key Error 발생 ==> ('박희진',100,92)
# exam.loc[(100)]

- 멀티 인덱스의 일부분을 기준으로 행 선택 : xs
    * 예) '박희진' 100 92 => Level 0 1 2

In [25]:
examDF1.xs('박희진')        ## = examDF1.xs('박희진', level = 0)

        미술  체육
국어  수학
100 92  10  92
    92  90  58
    60  70  90

In [26]:
examDF1.xs(100, level = 1)

        미술  체육
이름  수학
박희진 92  10  92
    92  90  58
    60  70  90

In [27]:
examDF1.xs(92, level = 2)

         미술  체육
이름  국어
박희진 100  10  92
    100  90  58

- 2개 행을 한꺼번에 가져오기

In [28]:
examDF1.loc[[('박희진',100,92),('명노아',40,79)]]

            미술  체육
이름  국어  수학
박희진 100 92  10  92
        92  90  58
명노아 40  79  40  99

- (5) 인덱스 재배치 : 행/열 인덱스를 원하는 순서대로 재배치 + 존재하지 않는 행/열 추가
    * DF.reindex()

In [29]:
print(examDF.index, examDF.columns, sep = '\n\n')

Index([0, 1, 2, 3, 4, 5], dtype='int64')

Index(['이름', '국어', '미술', '수학', '체육'], dtype='object')

- 컬럼명 순서 변경 ==> '체육','미술','국어','수학'

In [30]:
examDF.reindex(['체육','미술','국어','수학','총합'], axis='columns', fill_value=0)   ## 안에 안 적은 col은 사라짐 + 적은 col 생성됨
## fill_value : 새로 생긴 col에 넣을 값을 지정

   체육  미술   국어  수학  총합
0  92  10  100  92   0
1  68  30   80  88   0
2  99  40   40  79   0
3  88  39   39  58   0
4  58  90  100  92   0
5  90  70  100  60   0

In [31]:
examDF.reindex([0,2,4,1,3,5], axis='index',  fill_value=0)

    이름   국어  미술  수학  체육
0  박희진  100  10  92  92
2  명노아   40  40  79  99
4  박희진  100  90  92  58
1  손예림   80  30  88  68
3  전진우   39  39  58  88
5  박희진  100  70  60  90

- 컬럼명 순서 변경 ==> '체육','미술','국어','수학' + 행 인덱스 변경 => 0,2,4,1,3,5 재배치

In [32]:
examDF.reindex(index = [0,2,4,1,3,5], columns=['체육','미술','국어','수학','총합'], fill_value=0)

   체육  미술   국어  수학  총합
0  92  10  100  92   0
2  99  40   40  79   0
4  58  90  100  92   0
1  68  30   80  88   0
3  88  39   39  58   0
5  90  70  100  60   0