## [ Series 데이터 연산 ]

- (1) 모듈 로딩

In [2]:
import pandas as pd
import numpy as np   ## 결측값인 NaN를 표현하기 위해

- (2) 데이터 준비<sr>

In [3]:
data = [5,7,np.nan,9,7]

- (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [4]:
sr = pd.Series(data)
sr

0    5.0
1    7.0
2    NaN
3    9.0
4    7.0
dtype: float64

In [5]:
sr.index, sr.shape, sr.ndim, sr.dtypes     ## NaN때문에 type은 float64

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [6]:
sr.values

array([ 5.,  7., nan,  9.,  7.])

In [7]:
sr.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 168.0 bytes

In [8]:
sr.describe()

count    4.000000
mean     7.000000
std      1.632993
min      5.000000
25%      6.500000
50%      7.000000
75%      7.500000
max      9.000000
dtype: float64

In [9]:
sr.is_unique      ## sr Serise 객체에 중복된 값이 존재하지 않으면 => Ture 반환  /  존재하면 => False 반환

False

In [10]:
sr = pd.Series([1,3,9,6])
#is_monotonic 속성 => 오름차순이면 True 반환
sr.is_monotonic_increasing   ## 오름차순인지 확인   
sr.is_monotonic_decreasing   ## 내림차순인지 확인

False

- (5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [11]:
## 결과값 - Series에 담겨서 반환
sr+ 5

0     6
1     8
2    14
3    11
dtype: int64

In [12]:
sr - 5

0   -4
1   -2
2    4
3    1
dtype: int64

In [13]:
sr * 5

0     5
1    15
2    45
3    30
dtype: int64

In [14]:
sr % 5

0    1
1    3
2    4
3    1
dtype: int64

In [15]:
sr / 5

0    0.2
1    0.6
2    1.8
3    1.2
dtype: float64

In [16]:
sr // 5

0    0
1    0
2    1
3    1
dtype: int64

In [17]:
sr > 5

0    False
1    False
2     True
3     True
dtype: bool

- 논리연산 => & : and 연산 / | : or 연산 / ~ : not 연산

In [18]:
## and , or, not 판다스에서는 안됨
(sr > 5) & (sr < 10)

0    False
1    False
2     True
3     True
dtype: bool

In [19]:
~(sr > 5 )   ## 5보다 작거나 같으면 True 반환

0     True
1     True
2    False
3    False
dtype: bool

- (5) 연산 수행 => Series 객체 + Series 객체

In [20]:
data2 = [2,4,6,8,9]

sr2 = pd.Series(data2)

In [21]:
sr2

0    2
1    4
2    6
3    8
4    9
dtype: int64

In [22]:
print(sr+sr2, sr-sr2, sr* sr2, sr%sr2, sep = '\n\n')

0     3.0
1     7.0
2    15.0
3    14.0
4     NaN
dtype: float64

0   -1.0
1   -1.0
2    3.0
3   -2.0
4    NaN
dtype: float64

0     2.0
1    12.0
2    54.0
3    48.0
4     NaN
dtype: float64

0    1.0
1    3.0
2    3.0
3    6.0
4    NaN
dtype: float64

In [23]:
print(sr > sr2, sr < sr2, sep = '\n\n')

ValueError: Can only compare identically-labeled Series objects

In [25]:
sr2.index = [2,3,4,5,6]

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [ ]:
print(sr+sr2, sr-sr2, sr* sr2, sr%sr2, sep = '\n\n')    ## index가 같은 것끼리 연산

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    1.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [ ]:
sr2.reset_index(drop=True) # sr2 인덱스 원상 복구하기

0    2
1    4
2    6
3    8
4    9
dtype: int64

- (5) Series 연산수행 => 전용 메서드

In [ ]:
sr.add(5, fill_value=0)     # Nan 값에서 0 넣고 연산

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [ ]:
sr.sub(5, fill_value=0)     # Nan 값에서 0 넣고 연산

0    0.0
1    2.0
2   -5.0
3    4.0
4    6.0
dtype: float64

In [ ]:
sr.mul(sr2, fill_value=0)

0     0.0
1     0.0
2     0.0
3    36.0
4    66.0
5     0.0
6     0.0
dtype: float64

In [ ]:
addSR = sr.add(sr2, fill_value=0)
subSR = sr.sub(sr2, fill_value=0)
mulSR = sr.mul(sr2, fill_value=0)
divSR = sr.div(sr2, fill_value=0)

In [ ]:
addSR, subSR, mulSR, divSR

(0     5.0
 1     7.0
 2     2.0
 3    13.0
 4    17.0
 5     8.0
 6     9.0
 dtype: float64,
 0    5.0
 1    7.0
 2   -2.0
 3    5.0
 4    5.0
 5   -8.0
 6   -9.0
 dtype: float64,
 0     0.0
 1     0.0
 2     0.0
 3    36.0
 4    66.0
 5     0.0
 6     0.0
 dtype: float64,
 0         inf
 1         inf
 2    0.000000
 3    2.250000
 4    1.833333
 5    0.000000
 6    0.000000
 dtype: float64)

- (6) DataFrame 연산 수행

In [ ]:
df = pd.DataFrame([addSR,subSR,mulSR,divSR], index = ['add','sub','mul','div'])
df

       0    1    2      3          4    5    6
add  5.0  7.0  2.0  13.00  17.000000  8.0  9.0
sub  5.0  7.0 -2.0   5.00   5.000000 -8.0 -9.0
mul  0.0  0.0  0.0  36.00  66.000000  0.0  0.0
div  inf  inf  0.0   2.25   1.833333  0.0  0.0

- DataFrame과 숫자 연산 수행

In [ ]:
print(df+5, df-5, sep = '\n\n')    ## 5로 다 채워진 Serise 생성 : 브로드캐스팅

        0     1    2      3          4     5     6
add  10.0  12.0  7.0  18.00  22.000000  13.0  14.0
sub  10.0  12.0  3.0  10.00  10.000000  -3.0  -4.0
mul   5.0   5.0  5.0  41.00  71.000000   5.0   5.0
div   inf   inf  5.0   7.25   6.833333   5.0   5.0

       0    1    2      3          4     5     6
add  0.0  2.0 -3.0   8.00  12.000000   3.0   4.0
sub  0.0  2.0 -7.0   0.00   0.000000 -13.0 -14.0
mul -5.0 -5.0 -5.0  31.00  61.000000  -5.0  -5.0
div  inf  inf -5.0  -2.75  -3.166667  -5.0  -5.0

In [ ]:
print(df>5,df<5, sep = '\n\n')

         0      1      2      3      4      5      6
add  False   True  False   True   True   True   True
sub  False   True  False  False  False  False  False
mul  False  False  False   True   True  False  False
div   True   True  False  False  False  False  False

         0      1     2      3      4      5      6
add  False  False  True  False  False  False  False
sub  False  False  True  False  False   True   True
mul   True   True  True  False  False   True   True
div  False  False  True   True   True   True   True

- DataFrame과 DataFrame 연산 수행 => 동일 위치의 원소끼리 연산 수행

In [ ]:
df2 = df*10
df2

        0     1     2      3           4     5     6
add  50.0  70.0  20.0  130.0  170.000000  80.0  90.0
sub  50.0  70.0 -20.0   50.0   50.000000 -80.0 -90.0
mul   0.0   0.0   0.0  360.0  660.000000   0.0   0.0
div   inf   inf   0.0   22.5   18.333333   0.0   0.0

In [ ]:
print(df+df2, df-df2, df*df2, df%df2, sep = '\n\n')    ## DataFrame 4개 생성    # col명과 row명이 같아야 위치 인식하고 계산

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add    55.0  77.0  22.0  143.0  187.0  88.0  99.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0  396.0  726.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

          0     1     2      3      4     5     6
/       NaN   NaN   NaN    NaN    NaN   NaN   NaN
add   -45.0 -63.0 -18.0 -117.0 -153.0 -72.0 -81.0
div     NaN   NaN   NaN    NaN    NaN   NaN   NaN
minus   NaN   NaN   NaN    NaN    NaN   NaN   NaN
mul     0.0   0.0   0.0 -324.0 -594.0   0.0   0.0
sub     NaN   NaN   NaN    NaN    NaN   NaN   NaN

           0      1     2        3        4      5      6
/        NaN    NaN   NaN      NaN      NaN    NaN    NaN
add    250.0  490.0  40.0   1690.0   2890.0  640.0  810.0
div      NaN    NaN   NaN      NaN      NaN    NaN    NaN
minus    NaN    NaN   NaN      NaN      NaN    NaN    NaN
mul      0.0    0.0   0.0  12960.0  43560.0    0.0    0.0
sub      NaN    NaN   NaN      NaN      NaN    NaN    NaN

         0    1    2     3     4    5    6
/      NaN  NaN  NaN   NaN   NaN  NaN  NaN
add    5.0  7.0  2.0  13.0  17.0  8.0  9.0
div    NaN  NaN  NaN   NaN   NaN  NaN  NaN
minus  NaN  NaN  NaN   NaN   NaN  NaN  NaN
mul    NaN  NaN  NaN  36.0  66.0  NaN  NaN
sub    NaN  NaN  NaN   NaN   NaN  NaN  NaN

In [ ]:
df2.index = ['add','minus','mul','/']
# col명과 row명이 같아야 위치 인식하고 계산 / 인덱스 명 바꾸니까 계산 안됨 , 확장해서 연산 수행 => 연산 결과 : NaN 값

- 연산 수행 메서드 활용 => 결측치 즉 NaN 빈칸에 대한 처리를 수행 가능   &
    * fill_value 파라미터에 값 설정

In [ ]:
df.add(df2, fill_value=0)

          0     1     2       3           4     5     6
/       inf   inf   0.0   22.50   18.333333   0.0   0.0
add    55.0  77.0  22.0  143.00  187.000000  88.0  99.0
div     inf   inf   0.0    2.25    1.833333   0.0   0.0
minus  50.0  70.0 -20.0   50.00   50.000000 -80.0 -90.0
mul     0.0   0.0   0.0  396.00  726.000000   0.0   0.0
sub     5.0   7.0  -2.0    5.00    5.000000  -8.0  -9.0