### 표본 추출/샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample() 메서드
    - n : 갯수 
    - frac : 비율(0.0 - 1.0)
    - n과 f 파라미터 동시에 사용 불가
- 복원추출 : 추출된 데이터를 다시 추가해서 추출하는 방식
- 비복원 추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식

In [3]:
import pandas as pd

In [4]:
# 임의의 데이터 생성
dataDF = pd.DataFrame({'kor':[10,20,30],
                       'math':[11,22,33],
                       'eng':[111,222,333]})
dataDF

   kor  math  eng
0   10    11  111
1   20    22  222
2   30    33  333

In [8]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가
# 추출 기준 축(axis)로 설정
for cnt in range(5):
    print(f'{cnt}번 : {dataDF.sample(n = 1, axis=1)}') # 행 추출(기본값) : axis = 0 // 열 추출 -> axis = 1 or axis = 'columns'

0번 :    eng
0  111
1  222
2  333
1번 :    eng
0  111
1  222
2  333
2번 :    math
0    11
1    22
2    33
3번 :    math
0    11
1    22
2    33
4번 :    eng
0  111
1  222
2  333

In [9]:
# 1개의 샘플/표본 데이터 추출 => [설정] 복원 : replace 매개변수 True로 설정
# 추출 기준 축(axis)로 설정
for cnt in range(5):
    print(f'{cnt}번 : {dataDF.sample(n = 5, axis=1, replace=True)}')

0번 :    math  math  eng  math  kor
0    11    11  111    11   10
1    22    22  222    22   20
2    33    33  333    33   30
1번 :    eng  math  math  math  eng
0  111    11    11    11  111
1  222    22    22    22  222
2  333    33    33    33  333
2번 :    eng  kor  eng  kor  eng
0  111   10  111   10  111
1  222   20  222   20  222
2  333   30  333   30  333
3번 :    math  eng  eng  kor  math
0    11  111  111   10    11
1    22  222  222   20    22
2    33  333  333   30    33
4번 :    math  eng  math  eng  kor
0    11  111    11  111   10
1    22  222    22  222   20
2    33  333    33  333   30